.myButton, footer a{
  transition:  all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}
body{
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}
hr{
  height: 5px;
  width: 15%;
  background-color: #3d3d3d;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.rightcontainer{
  display: flex;
  align-items: right;
  justify-content: right;
}
.box{
  float: left;
  width: 30%;
  margin-right: 2px;
  padding: 20px;
  box-sizing: border-box;
}
.box:last-child{
  margin-right: 0;
}
p{
  font-size: 20px;
}
h1{
  font-size: 50px;
}
h5{
  font-size: 35px;
}
section{
  width:100%;
	height: 100vh;
  min-height: 100%;
  min-width: 100%;
}
#home h1{
  margin-top: 15%;
  font-size: 100px;
}
#home h5{
  font-size: 70px;
}
#home{
  background: url("https://cdn.discordapp.com/attachments/253559149126746112/473913954595504129/background.png");
  background-repeat: no-repeat;
  color: white;
}
.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
#invisible{
  width: 0;
  height: 0;
  color: green;
}
footer{
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: #373737;
  color: white;
  text-align: center;
  padding-top: 30px;
  margin-top: 100px;
}
footer a{
  text-decoration: none;
  color: #4286f4;
}
footer a:hover{
  color: #1651af;
}
form input, select, textarea{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 2px solid;
  border-color: #494949;
  outline: none;
}
form input:first-child{
  margin-top: 10px;
}
form input{
  width: 500px;
  height: 30px;
  padding-left: 10px;
}
form select{
  width: 500px;
  height: 30px;
}
form textarea{
  width: 500px;
  height: 80px;
  padding-left: 10px;
}
.input{
  color: #494949;
  padding-left: 20px;
}
label{
  color: grey;
  font-size: 10px;
}
#apply{
  padding-bottom: 100px;
}
.info {
  padding: 5px;
  border: 1px solid #DEDEDE;
  margin: 5px 0;
  background: #EFEFEF;
  color: #222222;
  text-align: center;
}
.warning {
  padding: 5px;
  border: 1px solid #DEDEDE;
  margin: 5px 0;
  background: #FFFFCC;
  color: #222222;
  text-align: center;
}
.success {
  padding: 5px;
  border: 1px solid #349534;
  margin: 5px 0;
  background: #C9FFCA;
  color: #008000;
  font-weight: bold;
  text-align: center;
}
.error {
  padding: 5px;
  border: 1px solid #CC0000;
  margin: 5px 0;
  background: #F7CBCA;
  color: #CC0000;
  font-weight: bold;
  text-align: center;
}
